<template>
     <tr class="list_item" >
        <th scope="row">{{ index + 1 }}</th>
        <td>
            <div v-if="isEdit">
                <input
                    ref="input"
                    @keyup.enter="isEdit = false"
                    @change="updateFIO"
                    @blur="isEdit = false"
                    v-model.lazy="item.FIO"
                >
                <button @click.prevent="updateFIO" class="btn btn-outline-dark btn-sm">Сохранить</button>     
            </div>
            <div v-else
                @dblclick="isEdit = true"
            >
              {{ item.FIO }} 
            </div>
        </td>
        <td v-if="item.sum"> {{ item.sum }}</td>
        <td class="context_button">
            <div class="btn-group">
            <button  @click.self="isEdit = !isEdit" class="btn btn-secondary btn-sm " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Изменить 
            </button>
                </div>
        </td>

    </tr>
</template>
<script>
export default {
    data(){
        return{
            isEdit: false
        }
    },
    methods:{
        updateFIO(){
            this.isEdit = false
            this.$emit('change', {value : this.item.FIO, id: this.item.id})
        }
    },
    watch:{
        isEdit(val){
      
            if(val){

                this.$nextTick(() => this.$refs.input.focus())
            }        
        },
      
    },

    props:['item', 'index']
}
</script>