<template>
    <div class="container">
                <div class="form-group range">
                    <label for="formControlRange">Фильтр по сумме долга больше чем </label>
                    <div class="d-flex">
                        <input type="range" min="0" max="1000" step="10"  class="form-control-range" id="formControlRange" v-model="range">
                        <div class="rangeValue ml-5">
                            <input type="text" v-model="range"> </div> 
                        <button @click="filter" class="btn btn-outline-dark btn-sm"> Искать </button>
                    </div>
                    
                </div>
        <table class="table table-borderless">
            <thead >
               
                <tr>
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">ФИО</th>
                    <th v-if="sumShow" scope="col">Сумма долга</th>
                    <th class="context_button" >
                    
                        
                        <div class="btn-group">
                            <button @click="sort = !sort" class="btn btn-secondary btn-sm " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Сортировать 
                            </button>
                        </div>
                    </th>
                    
                </tr>
            </thead>
            <tbody>

                <DebtorsTableRow
                    v-for="(item, index) in sortItems" 
                    :key="item + index"
                    :item="item"
                    :index="index"
                    @change="updateFIO"
                />
               
            </tbody>
        </table>
    </div>
</template>
<script>
import { mixin } from '../../mixins/mixin.js' 
export default {
    data(){
        return {
            slug:'',
            sort: '',
            range: '150',
            sumShow:false
        }
    },
    components:{
        DebtorsTableRow: () => import('./DebtorsTableRow')
    },
    mixins:[ mixin ],
    methods:{
        async filter(){
            const filteredItems = await axios.get('/api/debtors/debts?sum=' + this.range)
            
                this.items = filteredItems.data
                this.sumShow = true
            
        },
        async updateFIO(params){
            const updatedItem = await axios.post('/api/debtor/',{
                value:params.value,
                id:params.id
            })
                
        }
        
    },
    computed:{
            sortItems(){
                switch(this.sort){
                    case true:
                        return this.items.sort((a, b ) => {return a.FIO > b.FIO} )
                    case false:
                        return this.items.sort((a, b ) => {return a.FIO < b.FIO} )
                    default:
                    return this.items        
                }
                
            }
        }
}
</script>
<style lang="scss"  >
    .range{
        input{
            width: 40%;
            
        }
        
        border-color: #0787ff;
        .rangeValue{
            border-radius: .2rem;
            padding: .25rem .5rem;
        }
    }
    
    .list_item {
        td{
            vertical-align: middle;
        }
        input{
            &:active{
                outline: none;

            }
            background-color: inherit;
            border:none;
            border-bottom: 2px solid #0787ff;
        }
        
        &:hover{
            cursor: pointer;
            background-color: #ccc;
        }
    }
    .context_button{
        
        text-align: end;
    }
   
</style>