<template>
    <div class="container">
          <router-link to="debt/notpay" class="btn btn-outline-dark btn-sm">Показать долги без оплат</router-link>
        <table class="table table-borderless">
            <thead >
                <tr>
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">Долг</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list_item"
                    v-for="(item, index) in items"
                    :key="item + index"
                >
                    <th scope="row">{{ index + 1 }}</th>
                    <td>
                        {{ item.debt_sum }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { mixin } from '../../mixins/mixin.js' 
export default {
    mixins:[ mixin ]
}
</script>
