<template>
         <div class="container p-3">
            <div class="row is-block">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Таблица должников</h5>
                                    <p class="card-text">Отоброжает список должников с параметрами суммы долга</p>
                                    <router-link class="btn btn-primary" to="/tables/people">Перейти к таблице</router-link>    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Таблица долгов</h5>
                                    <p class="card-text">Отоброжает список всех долгов</p>
                                    <router-link class="btn btn-primary" to="/tables/debts">Перейти к таблице</router-link>    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Таблица оплат</h5>
                                    <p class="card-text">Отоброжает список оплат</p>
                                    <router-link class="btn btn-primary" to="/tables/payments">Перейти к таблице</router-link>    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Таблица Портфелей</h5>
                                    <p class="card-text">Отоброжает список портфелей</p>
                                    <router-link class="btn btn-primary" to="/tables/portfolios">Перейти к таблице</router-link>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {

    }
</script>
<style lang="scss" scoped>
    .card{
        min-height:200px;
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
</style>



