<template>
  <div class="card text-center">
    <div class="card-header">INFO</div>
    <div class="card-body">
      <h5 class="card-title">ФИО : {{ info.FIO }}</h5>
    </div>
    <div class="card-footer text-muted">Сумма: {{ info.sum }} </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      info: []
    };
  },
  async mounted() {
    const { data } = await axios.get("/api/" + this.$route.params.slug + '/' + this.$route.params.id);
    this.info = data[0];
    console.log('this.info :', this.info);
  }
};
</script>