<template>
    <div class="container">
        <table class="table table-borderless">
            <thead >
                <tr  class="list_item">
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">Сумма оплаты</th>
                    <th scope="col">Дата оплаты</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="list_item"
                    v-for="(item, index) in items"
                    :key="item + index"
                >
                    <th scope="row">{{ index + 1 }}</th>
                    <td>
                        {{ item.payment_sum }} 
                    </td>
                    <td>
                        {{ item.payment_date }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>

import { mixin } from '../mixins/mixin.js' 
export default {
    mixins:[ mixin ]
}
</script>
<style lang="scss"  >