<template>
    <div class="container p-4">
        <div class="row is-block">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/tables/people">Должники</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/tables/debts">Долги</router-link>
                    </li>
                     <li class="nav-item">
                        <router-link class="nav-link" to="/tables/payments">Оплаты</router-link>
                    </li>
                     <li class="nav-item">
                        <router-link class="nav-link" to="/tables/portfolios">Портфели</router-link>
                    </li>
                </ul>
            </div>
            <div class="col">
                <router-view></router-view>
            </div>
        </div>
        
    </div>
</template>