<template>
    <div class="container">
        <div class="route_links">
            <router-link to="/tables/portfolio/efficiency" class="btn btn-outline-dark btn-sm">Показать эффективность</router-link>
            <router-link to="/tables/portfolio/bymonth" class="btn btn-outline-dark btn-sm">Показать портфели в работепо месяцам</router-link>
            <router-link to="/tables/portfolio/efficiency/bymonth" class="btn btn-outline-dark btn-sm">Показать эффективность портфелей по месяцам</router-link>

        </div>
        <table class="table table-borderless">
           
            <thead >
                <tr>
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата подписания</th>
                    <th scope="col">Дата оканчания</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="list_item"
                    v-for="(item, index) in items"
                    :key="item + index"
                >
                    <th scope="row">{{ index + 1 }}</th>
                    <td>
                        {{ item.name }} 
                    </td>
                    <td>
                        {{ item.sign_date | formatDate }} 
                    </td>
                    <td>
                        {{ item.end_date | formatDate }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { mixin } from '../../mixins/mixin.js' 
export default {
    mixins:[ mixin ],   
}
</script>

<style lang="scss" >
    .route_links{
        display: flex;
        flex-direction: column;
        width: 50%;
        .btn{
            margin-bottom: .5rem;
        }
    }
</style>