<template>
    <div class="container">
        <div class="route_links">
            <router-link to="/tables/portfolio/efficiency" class="btn btn-outline-dark btn-sm">Показать эффективность</router-link>
            <router-link to="/tables/portfolio/bymonth" class="btn btn-outline-dark btn-sm">Показать портфели в работе по месяцам</router-link>

        </div>
        <table class="table table-borderless">
           
            <thead >
                <tr>
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">Месяц/Год </th>
                    <th scope="col">Эффективность</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list_item"
                    v-for="(item, index) in efficiencyItems"
                    :key="item + index"
                >
                    <th scope="row">{{ index + 1 }}</th>
                    <td> {{ item.cal_date | formatDate }}</td>
                    <td>
                        {{ isNaN(item.efficiency)? 0 : item.efficiency }}  %
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { mixin } from '../../mixins/mixin.js' 
export default {
    mixins:[ mixin ],   
    computed:{
        efficiencyItems(){
            const newArr = this.items.map( item => {
                return {...item, efficiency: item.payment_sum / item.debt_sum * 100}
            }) 
            
            return newArr
        }
    },
  
}
</script>