<template>
    <div class="container">
        <div class="route_links">
            <router-link to="/tables/portfolio/efficiency/bymonth" class="btn btn-outline-dark btn-sm">Показать эффективность портфелей по месяцам</router-link>
            <router-link to="/tables/portfolio/bymonth" class="btn btn-outline-dark btn-sm">Показать портфели в работе по месяцам</router-link>
        </div>
        <table class="table table-borderless">
           
            <thead >
                <tr>
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">Название</th>
                    <th scope="col">Долг</th>
                    <th scope="col">Оплата</th>
                    <th scope="col">Эффективность</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="list_item"
                    v-for="(item, index) in efficiencyItems"
                    :key="item + index"
                >
                    <th scope="row">{{ index + 1 }}</th>
                    <td>
                        {{ item.name }} 
                    </td>
                    <td>{{ item.debt_sum }}</td>
                    <td>{{ item.payment_sum }} </td>
                    <td>
                        {{ item.efficiency }}  %
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { mixin } from '../../mixins/mixin.js' 
export default {
    mixins:[ mixin ],   
    computed:{
        efficiencyItems(){
            const newArr = this.items.map( item => {
                return {...item, efficiency: item.payment_sum / item.debt_sum * 100}
            }) 
            
            return newArr
        }
    },
    mounted(){
        console.log(this.items);
    }
}
</script>