<template>
    <div class="container">
        <div class="route_links">
                <router-link to="/tables/portfolio/efficiency" class="btn btn-outline-dark btn-sm">Показать эффективность</router-link>
                <router-link to="/tables/portfolio/efficiency/bymonth" class="btn btn-outline-dark btn-sm">Показать эффективность портфелей по месяцам</router-link>
        </div>
        <table class="table table-borderless">
           
            <thead >
                <tr>
                    <th scope="col" class="col-1" > #</th>
                    <th scope="col">Месяц/Год </th>
                    <th scope="col">Сумма</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="list_item"
                    v-for="(item, index) in items"
                    :key="item + index"
                    v-if="item.sum"
                >
                    <th scope="row">{{ index + 1 }}</th>
                    <td >
                        {{ item.cal_date | formatDate }} 
                    </td>
                    <td>
                        {{ item.sum }} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { mixin } from '../../mixins/mixin.js' 
export default {
    mixins:[ mixin ],   
   
   
}
</script>